*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Itim', cursive;
}

header{
    width: 100%;
    height: 100vh;
    background:rgb(97,156,151);
    /*
    background-image: url(frontbg1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    */
}

nav{
    width: 100%;
    height: 10vh;
    background: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity:70%;
    text-transform:uppercase;
}

nav .logo {
    width: 40%;
    text-align: left;
    margin-left: 5%;
}

nav .menu {
    width: 50%;
    display: flex;
    justify-content: space-between;

}

nav .menu a {
    width: 25%;
    text-decoration: none;
    color: white;
}

nav .menu a:hover {
    color:#c20c0c;
}

main {
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}

section h3 {
    font-size: 35px;
    font-weight: 200;
    letter-spacing: 3px;
    text-shadow: 1px 1px 2px black;
}

section h1 {
    margin: 30px 0px 50px 0px;
    font-size: 50px;
    font-weight: 200;
    letter-spacing: 3px;
    text-shadow: 1px 1px 2px black;
}

section a {
    padding: 12px 30px;
    border-radius: 30px;
    outline:none;
    font-size: 18px;
    font-weight:500;
    text-decoration: none;
    letter-spacing: 1px;
}

section .btnone {
    margin-top: 20vh;
    background: black;
    opacity: 70%;
    color: white;
}

.btnone:hover {
    color: #c20c0c;
}

.change_content::after{
    content: '';
    animation: changetext 8s infinite linear;
    color: #c20c0c;
    
}

@keyframes changetext {
    0%{content:"darjiling";}
    25%{content:"Bhopal";}
    50%{content:"Indore";}
    75%{content:"Delhi";}
    100%{content:"Lucknow";}
}